<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
       <div class="main-content">
         {{>header}}
         <img class="potrait" src="/img/me.jpeg">
          <p>I a curious person who enjoys figuring out the building blocks of the world, 
            and rearranging them to build something even better. ¯\(ツ)/¯ <br>
            My career is developing software, but my life is adventuring. <br>
            In my spare time I love reading and listening to music. <br>
            I am currently, attempting to learn Node.js.<br><br>
            <i>The best thing about a boolean is even if you are wrong, you are only off by a bit.</i></p>
    </div>
   
    {{>footer}}
</body>
</html>