<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
     <div class="main-content">
         {{>header}}
         <img class="potrait" src="/img/help.jpeg">
         <p>Cannot find a valid result?<br>
         Try adding more details about your location! <br>
         <br>
         Unable to fetch results?<br>
         Make sure you have a stable internet connection<br>
         <br>
         For more information, you can connect with me on <a href="https://github.com/vidhi-mody">GitHub</a>.<br>
         </p>

    </div>
    {{>footer}}
</body>
</html>